*{
    margin: 0;
    padding: 0;
}

.box{
    margin: 50px;
    padding: 50px;
    background-color: purple;
}

p{
    margin: 50px;
    padding: 50px;
    background-color: blue;
    border: 20px solid black;
    font-family: 'Courier New', Courier, monospace;
}
