*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    background-color: whitesmoke;
}

h1{
    font-size: 1.8rem;
    cursor: pointer;
}

ul li{
    display: inline;
    margin-inline-start: 1rem;
    cursor: pointer;
}
