img {
    float: right;
}

.cards {
    border: 2px solid #000000;
    display: flow-root;
}

.card {
    border: 2px solid red;
}

.card:nth-child(3) {
    background-color: aqua;
    clear: both;
}
