.container {
    width: 80vw;
    height: 50vh;
    border: 2px solid black;
    display: grid;
    /* grid-template-columns: [firstColumn] 120px [seconfColumn] 100px; */
    /* grid-template-rows: 100px 100px 100px; */
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(4, minmax(100px, 1fr)); */
    grid-template-columns: repeat(4, (100px, 40px));
    /* gap: 34px; */
    row-gap: 10px;
    column-gap: 44px;
    justify-items: center;
    align-items: center;
    place-content: center;
}

.items {
    border: 2px solid red;
    height: 55px;
    width: 55px;
}

/* .item_4{
    grid-row: 1/2;
     grid-column: 1/2;
}

    .item_1{
     grid-row: 1/2;
    grid-column: 1/2;
}  */
